body {
    margin: 0;
    width: 100%;
    display: flex;

    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #0645ad;
}

a:visited {
    color: RGBA(11, 0, 128, 1.00);
}

a:hover {
    text-decoration: underline;
}


aside {
    width: 160px;
    background-color: RGBA(246, 246, 246, 1.00);
    padding: 5px 10px 10px 10px;

    font-size: 0.75em;
    line-height: 1.125em;
}

aside img {
    width: auto !important; /*override the width below*/
    width: 100%;
    max-width: 140px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.navigation ul{
    padding: 2px 0 2px 0;
    margin: 0 10px;
}
.navigation ul li a{
    display: block;
    padding: 3px;
}

hr {
    border: 0.5px solid RGBA(216, 216, 216, 1.00);
    width: 80%;
}

.regular {
    padding-left: 5px;
}

.regular h4{
    font-weight: normal;
    margin: 2px auto;
}

.regular ul {
    padding-left: 4px;
}

.wikimedia ul {
    margin-right: 0;
}

.right-box {
    width: 100%;
}

header {
    display: block;
    padding: 5px 0 0 0;

    font-size: 0.75em;

}

.log-in ul {
    display: flex;
    margin: 0 0 10px 0;
    padding: 0 15px 0 0;

    flex-wrap: wrap;
    justify-content: flex-end;
}

.log-in ul li {
    margin: 6px 0 0 9px;
}

.log-in ul:nth-child(1) li {
    color: RGBA(125, 112, 112, 1.00);
}

.edit {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    background: linear-gradient(white,RGBA(246, 246, 246, 1.00));
}

.left-edit, .right-edit{
    display: flex;

    margin: 0;
}

.left-edit li, .right-edit li {
    height: auto;
    margin: 0;

    padding: 16px 6px 6px 6px;

    border-color: RGBA(167, 215, 249, 1.00);
    border-style: solid;

    border-width: 0 0 0 1px;

    background: linear-gradient(white,RGBA(232, 242, 248, 1.00));
}

.left-edit li:nth-child(2) {
    border-width: 0 1px 0 1px;
}

li.searchbar {
    background: none;
    padding-right: 15px;
}

li.searchbar input[type="search"] {
    width: 230px;

    margin-top: -10px;
    padding: 0.2em 0 0.2em 0.2em;
    font-size: 13px;

    -webkit-appearance: none;
    box-sizing: border-box;
    border: 1px solid RGBA(183, 180, 182, 1.00);

    background-color: transparent;
    background-image: url("images/magnifier.svg");
    background-repeat: no-repeat;
    background-position: center right;
}

main {
    margin: 0;
    border: 1px solid RGBA(167, 215, 249, 1.00);
    border-right: 0;

    padding: 20px 24px 24px 24px;
}

h1 {
    margin: 0 0 7px 0;

    font-family: "Linux Libertine", Georgia, Times, serif;
    font-weight: lighter;
    font-size: 1.8em;

    border-bottom: 1px solid RGBA(170, 170, 170, 1.00);
}

.content {
    margin: 0;

    line-height: 1.6;
    font-size: 0.875em;

    color: RGBA(37, 37, 37, 1.00);
}

.content span {
    font-size: 92%;
}

#note {
    padding-left: 22px;
    margin: 16px 0 7px 0;

    font-style: italic;
    line-height: 1.2em;
}

.info-card {
    width: 264px;
    margin: 0;
    padding-left: 5px;

    font-size: 90%;

    float: right;
}

.info-card table {
    width: 264px;
    margin: 0 auto;

    border: 1px solid RGBA(170, 170, 170, 1.00);
    background-color: RGBA(249, 249, 249, 1.00);
    border-collapse: collapse;
}

.info-card thead {
    font-size: 120%;
}
.info-card img {
    width: 220px;
    margin: 0 auto;
}

.info-card td {
    text-align: left;
    vertical-align: top;
}

.info-card tr:nth-child(1) td {
    text-align: center;
    line-height: 1em;
}


footer {
    background-color: RGBA(246, 246, 246, 1.00);
}
