<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>The Reddit</title>
</head>
<body>
    <form method="post" action="/posts/create" role="form">
        <label for="post_title"><h3>Post title</h3></label>
        <input type="text" id="post_title" name="title"/>

        <label for="post_text"><h3>Post</h3></label>
        <textarea id="post_text" name="message" placeholder="Type your post here"></textarea>

        <button><input type="submit" id="submit"/></button>

    </form>
</body>
</html>